@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: var(--var-inter--);
}

.icon-container > * {
  background-color: gray; /* Background color */
  padding: 10px; /* Adjust padding as needed */
  border-radius: 50%; /* Makes the background fully rounded */
  color: white; /* Icon color */
  display: flex; /* Centers the icon within the background */
  justify-content: center; /* Centers the icon within the background */
  align-items: center; /* Centers the icon within the background */
}
